.App {
  text-align: center;
  width: 100vw;
}

.surround {
  margin-top: 10vw;
  margin-bottom: 10vw;
}

.surroundtwo {
  padding-left: 20vw;
  padding-right: 20vw;
}

.markdown-holder {
  text-align: left;
}

.boxy {
  border-color: red !important;
}
#textarea-holder {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.textarea-holder {
  background-color: white;
  width: 70%;
  padding: 50px 50px 50px 50px;
  border: 1px solid black;
  border-radius: 10px;
}
